.leftbar {
    width: 100%;
    max-width: 200px;
    background-color: #047420;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.leftbar__list li {
    list-style-type: none;
    color: azure;
    text-decoration: none;
    font-size: 23px;
    margin-bottom: 5px;
}

.leftbar__top {
    margin-top: 20px;
}

.leftbar__list a {
    text-decoration: none;
}

.leftbar__list {
    padding: 0;
    margin-left: 20px;
}