
.friends{
            background-color: #047420;
            color: azure;
            width: 100%;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

